<div class="container" style="padding: 3%;">
  <div class="row">
    <div class="col-8">
      <div class="jumbotron" style="background-color: rgba(245, 245, 245, 0.9); box-shadow: 5px 5px 5px black; ">
        <h1 class="display-4">About</h1>
        <p class="lead">SpaceFax is designed for viewing information about upcoming and completed Space X missions,
          rockets and more. The
          site was built as a hobby and is not a commerical website. Special thanks to Jake Meyer and the team at <a
            href="https://github.com/r-spacex/SpaceX-API">SpaceX-API</a> for
          providing and maintaining all the data this website retrieves. </p>
        <hr class="my-4">
        <div class="alert alert-primary" role="alert">
          This site is still in development...
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card text-white bg-dark">
        <div class="card-body">
          <p class="card-text">Created by: <b>James Hendrie</b></p>
          <p class="card-text">Founded: <b>July 2019</b></p>
          <p class="card-text">Data Provider: <b><a href="https://github.com/r-spacex/SpaceX-API"
                style="margin-right: 5px; color: lightskyblue">SpaceX-API</a></b>
            <fa-icon [icon]="['fas', 'heart']" [styles]="{'color':'red'}"></fa-icon>
          </p>
          <p class="card-text">Current Version: <b>{{version}}</b></p>
        </div>
      </div>
      <br>
      <div class="card text-white bg-dark">
        <div class="card-body">
          <p>Tech Stack:</p>
          <a href="https://angular.io/" target=”_blank”><img src="../../../assets/angular.png"
              class="img-fluid brandlogo" alt="Responsive image" width="64px;" height="64px"
              style="margin-right: 5px"></a>
          <a href="https://getbootstrap.com/" target=”_blank”><img src="../../../assets/bootstrap.svg"
              class="img-fluid brandlogo" alt="Responsive image" width="50px;" height="50px"
              style="margin-right: 13px"></a>
          <a href="https://firebase.google.com/" target=”_blank”><img src="../../../assets/firebase.png"
              class="img-fluid brandlogo" alt="Responsive image" width="40px;" height="40px"></a>
        </div>
      </div>
      <br>
      <div class="card text-white bg-dark">
        <div class="card-body">
          <p style="font-size: 0.7em">DISCLAIMER: The creator and maintainer of this website has no affiliation with
            SpaceX.
            The content herein should
            be considered for educational purposes only. Any photography is public domain and obtained from the SpaceX
            Flickr
            page.</p>
        </div>
      </div>
    </div>
  </div>
</div>
