<div class="container" *ngIf="pastLaunches$ | async; else noLaunchData">
  <div class="card-deck">
    <span *ngFor="let pastLaunch of pastLaunches$ | async; let i = index">
      <app-past-card [pastLaunch]="pastLaunch" [cardId]=i></app-past-card>
    </span>
  </div>
</div>

<ng-template #noLaunchData>
  <div class="container d-flex justify-content-center" style="padding: 5%">
    <div class="spinner-border text-light" role="status" style="width: 10rem; height: 10rem;">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
