<nav class="navbar" style="background: rgba(255, 255, 255, 0.1);">
  <a routerLink="" class="mr-auto">
    <span class="navbar-brand spaceFaxLogo">
      <h4 style=" font-family: 'Segoe UI' , Tahoma, Geneva, Verdana, sans-serif; color: lightgray">SpaceFa<span
          style=" font-style: italic; text-decoration: line-through; color: gray">cts</span>X</h4>
    </span></a>
  <a routerLink="/past-launches"><button class="btn btn-secondary ml-auto mr-3">Past Launches</button></a>
  <a routerLink="/about"><button class="btn btn-secondary ml-auto">About</button></a>
</nav>
<router-outlet></router-outlet>
