<div class="card" [ngClass]="{'card-success': pastLaunch.launch_success, 'card-failure': !pastLaunch.launch_success }">
  <div class="card-body">
    <div class="container">
      <span class="success" *ngIf="pastLaunch.launch_success">
        <span class="badge badge-pill badge-success">Launch Success
          <fa-icon [icon]="['fas', 'rocket']" size="1x">
          </fa-icon>
        </span>
      </span>
      <span class="failure" *ngIf="!pastLaunch.launch_success">
        <span class="badge badge-pill badge-danger">Launch Failure
          <fa-icon [icon]="['fas', 'rocket']" size="1x">
          </fa-icon>
        </span>
      </span>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row" style="padding-left: 10px; padding-right: 10px">
              <div class="col-6 mx-auto">
                <div class="text-center">
                  <img src="{{pastLaunch.links.mission_patch_small}}" class="missionPatch" />
                </div>
              </div>
              <div class="col-6 mx-auto">
                <div class="container d-flex h-100">
                  <div class="row justify-content-center align-self-center">
                    <span style="padding: 10px">
                      <h4>{{pastLaunch.mission_name}}</h4>
                      <h6><span
                          class="badge badge-pill badge-dark">{{pastLaunch.launch_date_utc | date:'longDate'}}</span>
                      </h6>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">

          </div>
          <div class="carousel-item">

          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true">
          <fa-icon [icon]="['fas', 'angle-left']" size="2x"
            [styles]="{padding: 0, 'margin-left': '-40px', color: 'black'}">
          </fa-icon>
        </span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true">
          <fa-icon [icon]="['fas', 'angle-right']" size="2x"
            [styles]="{padding: 0, 'margin-left': '20px', color: 'black'}">
          </fa-icon>
        </span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
